[submodule "api-key-detector"]
	path = api-key-detector
	url = https://github.com/N4S4/api-key-detector.git
[submodule "api_key_detector"]
	path = api_key_detector
	url = https://github.com/N4S4/api_key_detector.git
